In [162]:
import pandas as pd

,Date,Profit/Losses,shifted,growth,Profit/Losses_Shifted,difference
0,Jan-10,1088983,NaN,NaN,NaN,NaN
1,Feb-10,-354534,1088983.0,-1443517.0,1088983.0,-1443517.0
2,Mar-10,276622,-354534.0,631156.0,-354534.0,631156.0
3,Apr-10,-728133,276622.0,-1004755.0,276622.0,-1004755.0
4,May-10,852993,-728133.0,1581126.0,-728133.0,1581126.0
...,...,...,...,...,...,...
81,Oct-16,-729004,898241.0,-1627245.0,898241.0,-1627245.0
82,Nov-16,-112209,-729004.0,616795.0,-729004.0,616795.0
83,Dec-16,516313,-112209.0,628522.0,-112209.0,628522.0
84,Jan-17,607208,516313.0,90895.0,516313.0,90895.0
85,Feb-17,382539,607208.0,-224669.0,607208.0,-224669.0

In [149]:
header = list(df.columns)
header

['Date',
 'Profit/Losses',
 'shifted',
 'growth',
 'Profit/Losses_Shifted',
 'difference']

In [136]:
df = pd.read_csv(r'C:\Users\Brian Haynes\Downloads\Starter_Code (3)\Instructions\PyBank\Resources\budget_data.csv')

In [137]:
total_months = len(df)
print(total_months)

86

In [248]:
total = df['Profit/Losses'].sum()
print(total)

22564198

In [249]:
greatest_increase= 0
greatest_decrease= 0
for i in df["Profit/Losses"].keys():
    if i == 0:
        difference = df["Profit/Losses"] [i + 1] - df["Profit/Losses"][i]
        if difference > greatest_increase:
            greatest_increase = difference
            date_increase = df["Date"][i+1]
        elif difference < greatest_decrease:
            greatest_decrease = difference
            date_increase = df["Date"][i + 1]
else:
    difference = df['Profit/Losses'][i] - df['Profit/Losses'][i-1]
    if difference > greatest_increase:
            greatest_increase = difference
            date_increase = df["Date"][i+1]
    elif difference < greatest_decrease:
            greatest_decrease = difference
            date_increase = df["Date"][i + 1]

In [250]:
df["Profit/Losses_Shifted"] = df["Profit/Losses"].shift(1)

In [251]:
df["difference"] = df["Profit/Losses"] - df["Profit/Losses_Shifted"]

In [252]:
df['shifted']= df["Profit/Losses"].shift(1)
df["growth"]=df["Profit/Losses"]-df['shifted']
Average_change= round(df["growth"].mean(),2)
print(Average_change)

-8311.11

In [253]:
greatest_increase = int(df['difference'].max())
greatest_increase

1862002

In [254]:
greatest_decrease = int(df['difference'].min())
greatest_decrease

-1825558

In [255]:
print(total_months)

86

In [256]:
print(f"Financial Analysis\n")
print(f"----------------------------\n")
print(f"Total Months: {total_months}\n")
print(f"Total: ${total}\n")
print(f"Average Change: ${Average_change:.2f}\n")
print(f"Greatest Increase in Profits: {greatest_increase}\n")
print(f"Greatest Decrease in Profits: {greatest_decrease}\n")

Financial Analysis

----------------------------

Total Months: 86

Total: $22564198

Average Change: $-8311.11

Greatest Increase in Profits: 1862002

Greatest Decrease in Profits: -1825558